.input {
  text-align: center;
  background-color: #f1f1f1;
  height: 50px;
  display: flex;
  flex-direction: column;
  width: 600px;
  font-size: calc(5px + 1vmin);
  color: rgba(89, 53, 250, 0.363);
  position: absolute;
  top: 10%;
  left: 30%;
  
}
.contador2{
  position: absolute;
  top: 59%;
  left: 40%;
  background-color: #8f1717;
  width: 15%;
  height: 20%;
}
 .boton{
  text-align: center;
  height: 30px;
  width: 150px;
  justify-content: center;
  
  margin: auto;
  margin-top: 1%;
 }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: rgba(155, 55, 55, 0.733);
}
.titulo-input{
  text-align: center;
  
  height: 50px;
  display: flex;
  flex-direction: column;
  width: 600px;
  font-size: calc(5px + 1vmin);
  color: rgba(89, 53, 250, 0.363);
  position: absolute;
  top: 1%;
  left: 30%;
}
.card-grid{
  
  
  
  width: 15%;
  height: 20%;
}
.card{
  display: grid;
  top: 59%;
  left: 80%;

  width: 15%;
  height: 20%;
}

@keyframes App{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
